.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea,input:not([type='submit']){
    height: 3rem;
    padding-left:1rem;
    width: 17rem;
}

textarea{
    padding-top:16px;
    resize: none;
    height: 250px;
}

input, textarea{
    border-radius: 20px;
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
}