.projects{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.projects img{
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
}