.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills h1{
    margin-bottom:3.5rem;
}

.skills span{
    display: flex;
    align-items: center;
    gap:10px
}

.skills img{
    width: 20px;
    height: 20px;
}

.skilllist{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    max-width: 26ch;
}

hr{
    width: 10rem;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
}

 